{% extends 'base.html' %}

{%  block content %}
    <h1>LAB Automation</h1>
    <form id="script-form" method="post">
        {% csrf_token %}
        <label for="option">Escolha um laboratorio para aplicar:</label>
        <select id="option" name="option">
            <option value="1">LAB 1</option>
            <option value="2">LAB 2</option>
            <option value="3">LAB 3</option>
            <option value="4">LAB 4</option>
        </select>
        <button type="submit">Executar</button>
    </form>
    <div id="output"></div>
    <script>
        document.getElementById('script-form').addEventListener('submit', function(e) {
            e.preventDefault();
            const formData = new FormData(this);
            
            // Limpar a saída anterior
            const outputDiv = document.getElementById('output');
            outputDiv.innerHTML = '<p>Executando script...</p>';

            fetch('', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                const outputDiv = document.getElementById('output');
                if (data.error) {
                    outputDiv.innerHTML = `<pre style="color: red;">${data.error}</pre>`;
                } else {
                    // Formatar a saída mantendo a formatação e quebrando linhas
                    outputDiv.innerHTML = `<pre style="white-space: pre-wrap; word-wrap: break-word;">${data.output}</pre>`;
                }
            })
            .catch(error => {
                outputDiv.innerHTML = `<pre style="color: red;">Erro na execução: ${error}</pre>`;
            });
        });
    </script>
    
{% endblock %}